{% extends 'base.html' %}

{% block body %}

    <h1>List View</h1>

    {{ message }}

    <p>Insurance</p>
    <ul>
        {% for user in object_list %}
            {% if user.is_insurance %}
                <li><a href="{% url 'accounts:user-account' user.pk %}">{{ user }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <p>Clients</p>
    <ul>
        {% for user in object_list %}
            {% if user.is_client %}
                <li><a href="{% url 'accounts:user-account' user.pk %}">{{ user }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock body %}
